@font-face {
    font-family: 'PingFangSC';
    src: url('PingFangSC-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'PingFangSC-Bold';
    src: url('PingFangSC-Semibold.woff2') format('woff2');
}
uni-page-body,html,body{  
   height: 100%;  
   background-color:transparent;
}
uni-button,uni-view{font-family: "PingFangSC";}
.nodata{color: #FFFFFFB2;text-align: center;font-size:0.55rem;}
.w100{width:100%;}
.mt5{margin-top:0.5rem !important;};
.mt08{margin-top:0.8rem !important;};
.mt10{margin-top:1rem !important;};
.mt15{margin-top:1.5rem !important;};
.mt20{margin-top:2rem !important;};
.fs11{font-size:1.1rem !important;}
.fs24{font-size:2.4rem !important;}
.fs08{font-size: 0.8rem !important;}
.tr{text-align: right;}
.w5{width:5%;}
.w25{width:25%;}
.w80{width:80%;}
.w60{width:60%;}
.wc93{width:93% !important;margin:0 auto;}
.bdr05{border-radius:5px;}
.bdr10{border-radius:10px;}
.bggr01{background: linear-gradient(90deg, #0EFFB1 0%, #31B9D4 100%);}
.dp{
    display:flex;
    .f1{
        flex:1;
    }
}
uni-button.clear{display: inline-block;color:#fff;border:0;background: transparent;}
uni-button.clear:after{border:0;}
uni-view.w60,uni-button.w60{width: 60%;}
uni-view.w80,uni-button.w80{width: 80%;}
uni-view.w100,uni-button.w100{width: 100%;}
uni-button.s01{ 
     font-family: "MyriadPro-Regular";
     background:#4267fa;margin:1rem auto 0 auto;font-weight:none;color:#fff; 
}
uni-button.s01.red{background:#d7135f;}
uni-button.s02{ color:white;}
uni-view.bold,uni-text.bold{font-family: "PingFangSC-Bold";}
.body{
	width:100%;height: 100%;
	background:url("../static/images/body-bg.png") top center no-repeat;
    background-size: 100% auto;
    background-color:#010101;
    font-size:0.65rem;
    overflow: hidden;
    uni-scroll-view {
        height:100%;
    }
   
}

.toper{
	display: block;
	width:100%;
	margin-top:calc(44px + env(safe-area-inset-top)); 
	white-space:pre-wrap;
	color: #ffffff;
	.menu{display: block;width:100%;}
} 
.panel{
    width:98%;
    margin:0 auto;
    position: relative;
    border: 1px solid #00FFFF70;
    border-radius: 10px;
    .bdlg{
        position: absolute;
        border: 1px solid;
        top: -1px;
        bottom: -1px;
        right: -1px;
        left: -1px;
        z-index:1;
        border-image-source: linear-gradient(109deg, #00FFFF -29.08%, #000000 46.11%, #00FFBD 117.09%);
        border-image-slice: 1;
        border-image-repeat: round;
        clip-path: inset(0 round 10px);
    }
    .bdlg-cp20{
        clip-path: inset(0 round 20px) !important;
    }
    .icon-top{ 
        position: absolute;
        top:-1.5rem;
        width:3rem;height:3rem; 
        left:calc(50% - 1.5rem);
        z-index:2;
        background: url(/static/images/member/m4.png) center center no-repeat;
        background-size: 3rem 3rem;
    }
    .container{
        position: absolute;
        top: 1px;
        bottom: 1px;
        right: 1px;
        left: 1px;
        width:100%;
        z-index:2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.split-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    .cl,.cr{
        width:10%;text-align: center;height:3px;
        margin:0.5rem 0 0 0;
        border-radius: 1.5px;
        background: linear-gradient(90deg, #00FFBD 0%, #000000 100%);
    }
    .cc{
        padding:0 0.5rem 0 0.5rem;
        display: flex;
        flex-direction: column;
        text-align:center;
        font-size:0.5rem;
        line-height:1.2rem;
        .u-icon{
            color:#00FFBD;
        }
    }
    .cl{
        transform: rotate(-180deg);
    }
}
.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height:100%;
    overflow: hidden;
}
.popuper{
    ::v-deep .u-mode-center-box{
        width:80% !important;
        border-radius:10px;
        border:1px solid #000;
        background:#000 !important;
    }
    
}
.form{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
    ::v-deep .u-input__input{color:#fff;}
	.row{width:100%;margin:0.6rem auto;}
	.row.center{text-align:center;}
	.row.s01{color:#0d75d0;}
	.row.s02{color: #fff;}
	.ctl{
		width:100%;
		display: flex;
		align-items: center;
	}
    .arrow-right-wrapper{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #0EFFB0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.5rem;
    }
    .right-btn{
        padding: 0 0.8rem 0 0.8rem;
        height: 1.6rem;
        border-radius: 0.55rem;
        background-color: #0EFFB0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.5rem;
    }
}
.login,.register,.forget{
    &.body{background:#181c18;}
	::v-deep .u-form-item{padding:0.6rem 0 0.6rem 0;width:100%;}
    ::v-deep .u-form-item--left__content__icon {
        display: flex;
    }
    ::v-deep .u-input__input{color:#fff;}
    
    ::v-deep .u-form-item__body {
        display: flex;
        background: transparent;
        border: 1px solid #417B68;
        padding: 0.1rem 0.3rem;
        border-radius: .4rem;
    }
    .panel{
        background: url("../static/images/login-bg.png") no-repeat center / 100% 100%;
        width:90%;
        border:1px solid #000;
        background-color:#000;
        padding:0 0 3rem 0;
		border-radius:10px;
        .title{
            font-size:1.3rem;
            text-align: center;
            background: linear-gradient(90deg, #0EFFB1 0%, #31B9D4 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight:bold;
            line-height:2.3rem;
            padding: 0.55rem;
        }
        
        .logo{
            position:relative;
            width: 5rem;
            height:5rem; 
            border-radius: 50%;
            border:1px solid #000;
            background-color:#000;
            margin:-2.5rem auto 0 auto;
            .image{
            position:absolute;
            width:8rem;height:5rem;
            left:-1.5rem;
            background:url(../static/images/logo-01.png) center center no-repeat;
            background-size:8rem auto;
            z-index:99;
            } 
        }
        
        .ctl,.foot-link{
            width:80%;margin:0.5rem auto 0 auto;
        }
        .foot-link{
            display: flex;
            color:#0EFFB0;
            text-decoration: underline;
            text-decoration: underline;
            flex-direction: row;
            justify-content: space-between
        }
    }
    .form {
        width:90%;
        margin:0 auto;
        color:#fff;
        .uni-input-input{
            color:#ffffff;
        }
        .item {
            margin-bottom: .2rem;
            width:100%;
            ::v-deep input {
                color: #000;
                font-size: 1rem;
            }
        }
    }
    .form,.ctl{
        .btn{font-weight:bold;line-height:2rem;font-size: .7rem;}
    }
     
}


